<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://127.0.0.1:1111/img/favicon.ico">

    <title>Constructicon</title>

    
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:image" content="https://raw.githubusercontent.com/constructicon/russian/main/content/logo/constructicon-round.png" />
    

    
      <meta name="description" content="Description of the Constructicon.
" />
      <meta name="twitter:description" content="Description of the Constructicon.
" />
    

    
      <meta name="twitter:title" content="Constructicon" />
    

    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"
            integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68="
            crossorigin="anonymous"></script>

    <!-- https://vue-treeselect.js.org/ -->
    <script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">

    <script src="https://cdn.jsdelivr.net/npm/js-yaml@3.14.0/dist/js-yaml.min.js"
            integrity="sha256-8mtDTinb8+d2bC/9KhCJoCRBEylWUIV/3YEt5cSUvRk="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"
            integrity="sha256-Jvh9+A4HNbbWsWl1Dw7kAzNsU3y8elGIjLnUSUNMtLg="
            crossorigin="anonymous"></script>

    <!-- https://github.com/bvaughn/js-search -->
    <script src="https://cdn.jsdelivr.net/npm/js-search@2.0.0/dist/umd/js-search.min.js"
            integrity="sha256-LD9UsSATk+xTzAbk8nD2gA2bjHKvetXtCMDAFkM2K5Q="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js" integrity="sha512-+UYTD5L/bU1sgAfWA0ELK5RlQ811q8wZIocqI7+K0Lhh8yVdIoAMEs96wJAIbgFvzynPm36ZCXtkydxu1cs27w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://d3js.org/d3.v7.min.js"></script>

    <link href="http://127.0.0.1:1111/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <!-- navigation -->
      <div class="row top-buffer">
        <div class="col-md-3">
          <figure class="figure">
            
            <img src="http:&#x2F;&#x2F;127.0.0.1:1111&#x2F;processed_images&#x2F;66ea0c2bc689ec2a00.png"
                 class="figure-img img-fluid rounded" alt="Constructicon logo">
          </figure>
        </div>
        <div class="col-md-9">
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9f2ff;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:1111/">Browse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:1111/daily/">Daily dose</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:1111/advanced-search/">Advanced search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:1111/instructions-english/">Instructions (English)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:1111/instructions-russian/">Instructions (Russian)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:1111/statistics/">Statistics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:1111/about/">About</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- end navigation -->

      <div class="top-buffer">
        
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <div id="app" v-cloak>


    <div v-if="show_data_spinner">
      <div class="row top-buffer">
        <div class="col-md-12">
        <h1>Loading data (can take few seconds) ...</h1>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="choose_lang"></div> -->
    <ul class="nav nav-tabs " id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="rus-tab" data-bs-toggle="tab" data-bs-target="#rus" type="button" role="tab" aria-controls="russian" aria-selected="true"><img src="../content/logo/ru.svg" alt="rus" width="25"></button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link " id="eng-tab" data-bs-toggle="tab" data-bs-target="#eng" type="button" role="tab" aria-controls="english" aria-selected="false"><img src="../content/logo/us.svg" alt="eng" width="25"></button>
      </li>
  </ul>


  






















  
    <div v-if="all_data_loaded">

      <div class="row top-buffer">
        <div class="col-md-12">
          
  
  <div class="row top-buffer">
    Morphology
    <treeselect
      :multiple="true"
      :options="morphology_options"
      placeholder="Select morphology"
      v-model="morphology_selected"
      />
    <treeselect-value :value="morphology_selected" />
  </div>

  
  <div class="row top-buffer">
    Syntactic type of construction
    <treeselect
      :multiple="true"
      :options="syntactic_type_of_construction_options"
      placeholder="Select syntactic_type_of_construction"
      v-model="syntactic_type_of_construction_selected"
      />
    <treeselect-value :value="syntactic_type_of_construction_selected" />
  </div>

<!--  
  <div class="row top-buffer">
    Syntactic function of anchor
    <treeselect
      :multiple="true"
      :options="syntactic_function_of_anchor_options"
      placeholder="Select syntactic_function_of_anchor"
      v-model="syntactic_function_of_anchor_selected"
      />
    <treeselect-value :value="syntactic_function_of_anchor_selected" />
  </div>
-->
<!--  
  <div class="row top-buffer">
    Syntactic structure of anchor
    <treeselect
      :multiple="true"
      :options="syntactic_structure_of_anchor_options"
      placeholder="Select syntactic_structure_of_anchor"
      v-model="syntactic_structure_of_anchor_selected"
      />
    <treeselect-value :value="syntactic_structure_of_anchor_selected" />
  </div>
-->
<!--  
  <div class="row top-buffer">
    Part of speech of anchor
    <treeselect
      :multiple="true"
      :options="part_of_speech_of_anchor_options"
      placeholder="Select part_of_speech_of_anchor"
      v-model="part_of_speech_of_anchor_selected"
      />
    <treeselect-value :value="part_of_speech_of_anchor_selected" />
  </div>
-->
  
  <div class="row top-buffer">
    Semantic types
    <treeselect
      :multiple="true"
      :options="semantic_types_options"
      placeholder="Select semantic_types"
      v-model="semantic_types_selected"
      />
    <treeselect-value :value="semantic_types_selected" />
  </div>



        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-md-12">
          <div v-if="record_numbers_matching_search.length > 0">

            <div class="form-group">
              <label>Results</label>
<!--              <select v-model="current_record_number" class="form-control" size="10">-->
              <select v-model="current_record_number" class="form-control" size="10">
<!--                <option v-for="record_number in record_numbers_matching_search" :value="record_number">-->
                <option v-for="record_number in record_numbers_matching_search" :value="record_number">

                  {[ record_number ]}
                  <br>
                  &ensp;
                  <b>{[ records[record_number].name ]}</b>
                  &nbsp;
                  —
                  &nbsp;
                  <i>{[ records[record_number].illustration ]}</i>


                </option>>
              </select>
              <!--                  <br>-->
              <!--                  <pre>{[ arrange_glosses(records[record_number].illustration, records[record_number].illustration_gloss_russian)[0] ]}</pre>-->
              <!--                  <pre>{[ arrange_glosses(records[record_number].illustration, records[record_number].illustration_gloss_russian)[1] ]}</pre>-->
              <!--                  <i>{[ records[record_number].illustration_translation_russian ]}</i>-->
            </div>
          </div>
        </div>
      
      

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="rus" role="tabpanel" aria-labelledby="rus-tab">
          <div class="row top-buffer">
            <div class="col-md-12">
              <div v-if="current_record_number != null">
                {[ current_record_number ]}
                <br>
    
                <b>NAME: </b>
            <b>{[ records[current_record_number].name ]}</b>
            <br>
            <table>
              <tr>
                <td v-for="ill in split_gloss(records[current_record_number].illustration)">{[ ill ]}&nbsp;</td>
              </tr>
              <tr>
                <td v-for="gl in split_gloss(records[current_record_number].illustration_gloss_russian)">{[ gl ]}&nbsp;</td>
              </tr>
            </table>
            <div>{[ records[current_record_number].illustration_translation_russian ]}</div>
            <div class="russian">
              <br>
                <b>DEFINITION</b> <br> <span>{[ records[current_record_number].definitions[0]["russian"] ]}</span>
              <br>
            </div>

            <br>
            <b>EXAMPLES</b>
            <ol>
              <li v-for="(example, index) in records[current_record_number].examples">
<!--                <br>-->
                <div class="col-md p-3 bg-light bg-opacity-50 text-opacity-100 m-3">
                  <table>
                    <tr>
                      <td v-for="word in split_gloss(example)"><i>{[ word ]}&nbsp; </i></td>
                    </tr>
                    <tr>
                      <td v-for="gloss in split_gloss(records[current_record_number].examples_glosses_russian[index])">{[ gloss ]} &nbsp;</td>
                    </tr>
                  </table>
                  <div>{[ records[current_record_number].examples_translation_russian[index] ]}</div>
                </div>
              </li>
            </ol>

            <br>
            <input type="checkbox" id="checkbox" v-model="show_additional_information">
            <label for="checkbox">Show additional information</label>

            <div v-if="show_additional_information">
              <br>

              <br>
              <b>SEMANTIC TYPE</b>
              <ul>
                <li v-for="item in records[current_record_number].semantic_types">
                  {[ item['type'] ]}
                  <ul>
                    <li v-for="it in item['subtypes']">{[ it['type'] ]}</li>
                  </ul>
                </li>

              </ul>

              <br>
              <b>SYNTACTIC TYPE OF CONSTRUCTION</b>
              <ul>
                <li v-for="item in records[current_record_number].syntactic_type_of_construction">{[ item ]}</li>
              </ul>

              <br>
              <b>COMMENT</b> {[ records[current_record_number].comment ]}
              <br>

              <br>
              <b>REFERENCES</b>
              <ul v-if="records[current_record_number].references[0] != ''" >
                <li v-for="item in records[current_record_number].references">{[ item ]}</li>
              </ul>
                </div>
    
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade show" id="eng" role="tabpanel" aria-labelledby="eng-tab">
          <div class="row top-buffer">
            <div class="col-md-12">
              <div v-if="current_record_number != null">
                {[ current_record_number ]}
                <br>
    
                <b>NAME: </b>
                <b>{[ records[current_record_number].name ]}</b>
                <br>
                <table>
                  <tr>
                    <td v-for="ill in split_gloss(records[current_record_number].illustration)"><i>{[ ill ]}&nbsp;</i></td>
                  </tr>
                  <tr v-if="records[current_record_number].illustration_gloss_english != null">
                    <td v-for="gl in split_gloss(records[current_record_number].illustration_gloss_english)">{[ gl ]}&nbsp;</td>
                  </tr>
                </table>
                <div v-if="records[current_record_number].illustration_translation_english != null">{[ records[current_record_number].illustration_translation_english ]}</div>

    
                <div class="english" v-if="records[current_record_number].definitions[1] != null">
                  <br>
                    <b>DEFINITION</b> <br> <span>{[ records[current_record_number].definitions[1]["english"] ]}</span>
                  <br>
                </div>
    
                <br>
                <b>EXAMPLES</b>
                <ol>
                  <li v-for="(example, index) in records[current_record_number].examples">
                    <br>
                    <table>
                        <tr>
                          <td v-for="word in split_gloss(example)"><i>{[ word ]}&nbsp; </i></td>
                        </tr>
                        <tr v-if="records[current_record_number].examples_glosses_english != null">
                          <td v-for="gloss in split_gloss(records[current_record_number].examples_glosses_english[index])">{[ gloss ]} &nbsp;</td>
                        </tr>
                      </table>
                      <div v-if="records[current_record_number].examples_translation_english != null">{[ records[current_record_number].examples_translation_english[index] ]}</div>
                  </li>
                </ol>
    
                <br>
                <input type="checkbox" id="checkbox" v-model="show_additional_information">
                <label for="checkbox">Show additional information</label>
    
                <div v-if="show_additional_information">
                  <br>
    
                  <br>
                  <b>SEMANTIC TYPE</b>
                  <ul>
                    <li v-for="item in records[current_record_number].semantic_types">{[ item ]}</li>
                  </ul>
    
                  <br>
                  <b>SYNTACTIC TYPE OF CONSTRUCTION</b>
                  <ul>
                    <li v-for="item in records[current_record_number].syntactic_type_of_construction">{[ item ]}</li>
                  </ul>
    
                  <br>
                  <b>COMMENT</b> {[ records[current_record_number].comment ]}
                  <br>
    
                  <br>
                  <b>REFERENCES</b>
                  <ul>
                    <li v-for="item in records[current_record_number].references">{[ item ]}</li>
                  </ul>
                </div>
    
              </div>
            </div>
          </div>
        </div>
        

        
      </div>




      









    
  </div>
  </div>
  </div>

      </div>

      <div class="more-buffer">
		

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    
  <script src="http://127.0.0.1:1111/js/constructicon.js"></script>


  </body>
</html>
