{% import "macros.html" as macros %}

{% extends "browse.html" %}

{% block search %}
  {{ macros::treeselect(key="morphology") }}

  {{ macros::treeselect(key="syntactic_type_of_construction") }}
  {{ macros::treeselect(key="syntactic_function_of_anchor") }}
  {{ macros::treeselect(key="syntactic_structure_of_anchor") }}
  {{ macros::treeselect(key="part_of_speech_of_anchor") }}

  {{ macros::treeselect(key="semantic_types") }}

  {{ macros::treeselect(key="semantic_roles") }}

  {{ macros::treeselect(key="level") }}
{% endblock search %}

{% block footer %}
{% endblock footer %}

{% block extrajs %}
  <script src="{{ config.base_url | safe }}/js/constructicon.js"></script>
{% endblock extrajs %}
