{% extends "base.html" %}

{% block content %}
  <div id="app" v-cloak>

    <div v-if="show_data_spinner">
      <div class="row top-buffer">
        <div class="col-md-12">
        <h1>Loading data (can take few seconds) ...</h1>
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>

    <div v-if="all_data_loaded">

      <div class="row top-buffer">
        <div class="col-md-6">
          {% block search %}
          {% endblock search %}
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-md-12">
          <div v-if="record_numbers_matching_search.length > 0">

            <div class="form-group">
              <label>Results</label>
              <select v-model="current_record_number" class="form-control" size="10">
                <option v-for="record_number in record_numbers_matching_search" :value="record_number">
                  {[ record_number ]}
                  -
                  <b>{[ records[record_number].name ]}</b>
                  &nbsp;
                  -
                  &nbsp;
                  <i>{[ records[record_number].illustration ]}</i>

<!--                  <br>-->
<!--                  <pre>{[ arrange_glosses(records[record_number].illustration, records[record_number].illustration_gloss_russian)[0] ]}</pre>-->
<!--                  <pre>{[ arrange_glosses(records[record_number].illustration, records[record_number].illustration_gloss_russian)[1] ]}</pre>-->
<!--                  <i>{[ records[record_number].illustration_translation_russian ]}</i>-->
                </option>>
              </select>
            </div>
          </div>
        </div>
      <div>

      <div class="row top-buffer">
        <div class="col-md-12">
          <div v-if="current_record_number != null">
            {[ current_record_number ]}
            <br>

            <b>NAME: </b>
            <b>{[ records[current_record_number].name ]}</b>
            <br>
            <table>
              <tr>
                <td v-for="ill in split_gloss(records[current_record_number].illustration)">{[ ill ]}&nbsp;</td>
              </tr>
              <tr>
                <td v-for="gl in split_gloss(records[current_record_number].illustration_gloss_russian)">{[ gl ]}&nbsp;</td>
              </tr>
            </table>
            <div>{[ records[current_record_number].illustration_translation_russian ]}</div>
            <div v-for="definition in records[current_record_number].definitions">
              <br>
                <b>DEFINITION ({[ to_title_case(key(definition)) ]})</b> <br> <span v-html="value(definition)"></span>

              <br>
            </div>

            <br>
            <b>EXAMPLES</b>
            <ol>
              <li v-for="(example, index) in records[current_record_number].examples">
                <br>
                <table>
                    <tr>
                      <td v-for="word in split_gloss(example)"><i>{[ word ]}&nbsp; </i></td>
                    </tr>
                    <tr>
                      <td v-for="gloss in split_gloss(records[current_record_number].examples_glosses_russian[index])">{[ gloss ]} &nbsp;</td>
                    </tr>
                  </table>
                  <div>{[ records[current_record_number].examples_translation_russian[index] ]}</div>
              </li>
            </ol>

            <br>
            <input type="checkbox" id="checkbox" v-model="show_additional_information">
            <label for="checkbox">Show additional information</label>

            <div v-if="show_additional_information">
              <br>

              <br>
              <b>SEMANTIC TYPE</b>
              <ul>
                <li v-for="item in records[current_record_number].semantic_types">
                  {[ item['type'] ]}
                  <ul>
                    <li v-for="it in item['subtypes']">{[ it['type'] ]}</li>
                  </ul>
                </li>

              </ul>

              <br>
              <b>SYNTACTIC TYPE OF CONSTRUCTION</b>
              <ul>
                <li v-for="item in records[current_record_number].syntactic_type_of_construction">{[ item ]}</li>
              </ul>

              <br>
              <b>COMMENT</b> {[ records[current_record_number].comment ]}
              <br>

              <br>
              <b>REFERENCES</b>
              <ul v-if="records[current_record_number].references[0] != ''" >
                <li v-for="item in records[current_record_number].references">{[ item ]}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block extrajs %}
  <script src="{{ config.base_url | safe }}/js/constructicon.js"></script>
{% endblock extrajs %}
