{% extends "browse.html" %}

{% block search %}
  <div class="row top-buffer">
    <div class="col-md-3">
      <label>Level</label>
      <select v-model="daily_dose_level" class="form-control">
        <option v-for="level in levels">
          {[ level ]}
        </option>
      </select>
    </div>
    <div class="col-md-9">
      <label>Get 5 random records for level {[ daily_dose_level ]}</label>
      <br>
      <button v-on:click="get_random_selection()" type="button" class="btn btn-primary">
        Get random records
      </button>
    </div>
  </div>
{% endblock search %}

{% block footer %}
{% endblock footer %}

{% block extrajs %}
  <script src="{{ config.base_url | safe }}/js/constructicon.js"></script>
{% endblock extrajs %}
