{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
    <h7>Syntactic type of construction</h7>
    <div class="chart-container2">
        <canvas id="chart2" width="600" height="300"></canvas>
    </div>
    <h7>Syntactic function of anchor</h7>
    <div class="chart-container3">
        <canvas id="chart3" width="600" height="450"></canvas>
    </div>
    <h7>Semantic type of construction</h7>
    <div>
        <select class="selectST" onchange="changeData('chart1')" id="syntType">
            <option value="Biclausal Construction">Biclausal Construction</option>
            <option value="Clause and Modifier Construction">Clause and Modifier Construction</option>
            <option value="Clause or XP with parentheticals">Clause or XP with parentheticals</option>
            <option value="Clause">Clause</option>
            <option value="Connection Construction">Connection Construction</option>
            <option value="Copula Construction">Copula Construction</option>
            <option value='Discourse "Echo" Construction'>Discourse "Echo" Construction</option>
            <option value="Head and Modifier Construction">Head and Modifier Construction</option>
            <option value="Matrix and Infinitival Complement Construction">Matrix and Infinitival Complement Construction</option>
            <option value="Matrix and Sentential Complement Construction">Matrix and Sentential Complement Construction</option>
            <option value="Morphological Construction">Morphological Construction</option>
            <option value="Predicate Argument Construction">Predicate Argument Construction</option>
            <option value="All" selected>All</option>
        </select>
    </div>
    <div class="chart-container1">
        <canvas id="chart1" width="600"></canvas>
    </div>
    <h7>Top of anchors by parts of speech</h7>
    <div class="wrap">
        <div class="bblock" id="TopVerbs">
            <h3>Top-10 verbs</h3>
        </div>
        <div class="bblock" id="TopNouns">
            <h3>Top-10 nouns</h3>
        </div>
        <div class="bblock" id="TopAdjectives">
            <h3>Top-10 adjectives</h3>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block extrajs %}
    <script src="{{ config.base_url | safe }}/js/statistics.js"></script>
    <script src="{{ config.base_url | safe }}/js/constructicon.js"></script>
{% endblock extrajs %}
